[submodule "website/blueprints/werewolf"]
	path = website/blueprints/werewolf
	url = https://github.com/LucienZhang/werewolf.git
[submodule "website/blueprints/ml"]
	path = website/blueprints/ml
	url = https://github.com/LucienZhang/ml.git
