/* line 5, /mnt/d/Project/werewolf/app/assets/stylesheets/pages.scss */
[v-loack] {
  display: none !important;
}

/* line 9, /mnt/d/Project/werewolf/app/assets/stylesheets/pages.scss */
.btn-purple,
.btn-purple:hover,
.btn-purple:focus {
  color: #ffffff;
  background-color: #805EAD;
  border-color: #130269;
}

/* line 17, /mnt/d/Project/werewolf/app/assets/stylesheets/pages.scss */
.btn-purple:active,
.btn-purple.active,
.open .dropdown-toggle.btn-purple {
  color: #ffffff;
  background-color: #684D8C;
  border-color: #130269;
}

/* line 25, /mnt/d/Project/werewolf/app/assets/stylesheets/pages.scss */
.btn-purple:active,
.btn-purple.active,
.open .dropdown-toggle.btn-purple {
  background-image: none;
}

/* line 31, /mnt/d/Project/werewolf/app/assets/stylesheets/pages.scss */
.btn-purple.disabled,
.btn-purple[disabled],
fieldset[disabled] .btn-purple,
.btn-purple.disabled:hover,
.btn-purple[disabled]:hover,
fieldset[disabled] .btn-purple:hover,
.btn-purple.disabled:focus,
.btn-purple[disabled]:focus,
fieldset[disabled] .btn-purple:focus,
.btn-purple.disabled:active,
.btn-purple[disabled]:active,
fieldset[disabled] .btn-purple:active,
.btn-purple.disabled.active,
.btn-purple[disabled].active,
fieldset[disabled] .btn-purple.active {
  background-color: #805EAD;
  border-color: #130269;
}

/* line 50, /mnt/d/Project/werewolf/app/assets/stylesheets/pages.scss */
.btn-purple .badge {
  color: #805EAD;
  background-color: #ffffff;
}

/* line 55, /mnt/d/Project/werewolf/app/assets/stylesheets/pages.scss */
.btn-darkblue {
  color: #fff;
  background-color: #313ba9;
  border: 1px solid #202bad;
}
/* line 59, /mnt/d/Project/werewolf/app/assets/stylesheets/pages.scss */
.btn-darkblue:hover {
  color: #fff;
}

/* line 64, /mnt/d/Project/werewolf/app/assets/stylesheets/pages.scss */
.btn-pink {
  color: #fff;
  background-color: #dc78d9;
  border: 1px solid #ab6caf;
}
/* line 68, /mnt/d/Project/werewolf/app/assets/stylesheets/pages.scss */
.btn-pink:hover {
  color: #fff;
}

/* line 73, /mnt/d/Project/werewolf/app/assets/stylesheets/pages.scss */
.login-page {
  background: url("/img/game_bg.jpg") center top repeat-y;
  height: 600px;
}
/* line 77, /mnt/d/Project/werewolf/app/assets/stylesheets/pages.scss */
.login-page form {
  text-align: center;
  margin-top: 200px;
  opacity: 0.8;
}

/* line 84, /mnt/d/Project/werewolf/app/assets/stylesheets/pages.scss */
.game-page {
  background: url("/img/game_bg.jpg") center top repeat-y;
}

/* line 88, /mnt/d/Project/werewolf/app/assets/stylesheets/pages.scss */
.area {
  padding: 10px 10px;
  margin: 10px 0;
}

/* line 93, /mnt/d/Project/werewolf/app/assets/stylesheets/pages.scss */
.logo {
  width: 200px;
  margin: 0 auto;
}
/* line 97, /mnt/d/Project/werewolf/app/assets/stylesheets/pages.scss */
.logo img {
  width: 200px;
}

/* line 102, /mnt/d/Project/werewolf/app/assets/stylesheets/pages.scss */
.nav {
  position: absolute;
  top: 25px;
  width: 93%;
  line-height: 34px;
  color: #fff;
  font-size: 15px;
  font-weight: bold;
}
/* line 111, /mnt/d/Project/werewolf/app/assets/stylesheets/pages.scss */
.nav .logout {
  color: #ccc;
}

/* line 116, /mnt/d/Project/werewolf/app/assets/stylesheets/pages.scss */
.progress {
  height: 5px;
}

/* line 120, /mnt/d/Project/werewolf/app/assets/stylesheets/pages.scss */
#info {
  border-radius: 15px 15px 0 0;
  background-color: antiquewhite;
  background-color: rgba(250, 235, 215, 0.5);
}

/* line 127, /mnt/d/Project/werewolf/app/assets/stylesheets/pages.scss */
#check-role-dialog .role {
  font-weight: bold;
  color: #e61713;
  font-size: 20px;
}
/* line 132, /mnt/d/Project/werewolf/app/assets/stylesheets/pages.scss */
#check-role-dialog .role a {
  color: #e61713;
}
/* line 134, /mnt/d/Project/werewolf/app/assets/stylesheets/pages.scss */
#check-role-dialog .role a:hover {
  text-decoration: none;
}
/* line 139, /mnt/d/Project/werewolf/app/assets/stylesheets/pages.scss */
#check-role-dialog .role-img {
  text-align: center;
  margin: 20px;
}
/* line 143, /mnt/d/Project/werewolf/app/assets/stylesheets/pages.scss */
#check-role-dialog .role-img img {
  height: 246px;
  width: 173px;
}

/* line 151, /mnt/d/Project/werewolf/app/assets/stylesheets/pages.scss */
#bid-info-modal .coin-balance, #bid-info-modal .current-bid {
  font-size: 15px;
  margin: 10px;
}
/* line 154, /mnt/d/Project/werewolf/app/assets/stylesheets/pages.scss */
#bid-info-modal .coin-balance span, #bid-info-modal .current-bid span {
  margin: 10px;
}

/* line 160, /mnt/d/Project/werewolf/app/assets/stylesheets/pages.scss */
#ope-panel {
  font-weight: bold;
  margin-top: -10px;
}
/* line 164, /mnt/d/Project/werewolf/app/assets/stylesheets/pages.scss */
#ope-panel .tip-panel {
  border-radius: 0 0 15px 15px;
  background-color: antiquewhite;
  background-color: rgba(250, 235, 215, 0.5);
  text-align: center;
}
/* line 170, /mnt/d/Project/werewolf/app/assets/stylesheets/pages.scss */
#ope-panel .tip-panel .tips {
  font-size: 18px;
  height: 50px;
  line-height: 25px;
  color: #a94442;
}
/* line 177, /mnt/d/Project/werewolf/app/assets/stylesheets/pages.scss */
#ope-panel .tip-panel .panel-buttons {
  height: 34px;
}
/* line 179, /mnt/d/Project/werewolf/app/assets/stylesheets/pages.scss */
#ope-panel .tip-panel .panel-buttons a {
  margin: 0 5px;
}
/* line 185, /mnt/d/Project/werewolf/app/assets/stylesheets/pages.scss */
#ope-panel .player-panel {
  color: #fff;
}

/* line 190, /mnt/d/Project/werewolf/app/assets/stylesheets/pages.scss */
.notice {
  height: 50px;
  padding: 15px;
}
/* line 194, /mnt/d/Project/werewolf/app/assets/stylesheets/pages.scss */
.notice .status, .notice .setting {
  display: inline-block;
}
/* line 198, /mnt/d/Project/werewolf/app/assets/stylesheets/pages.scss */
.notice .status {
  font-size: 16px;
}

/* line 203, /mnt/d/Project/werewolf/app/assets/stylesheets/pages.scss */
.rest {
  text-align: center;
}

/* line 207, /mnt/d/Project/werewolf/app/assets/stylesheets/pages.scss */
.player {
  display: inline-block;
  width: 48%;
  margin: 10px 0;
}
/* line 212, /mnt/d/Project/werewolf/app/assets/stylesheets/pages.scss */
.player a.btn {
  width: 60px;
  color: #fff;
  background-color: #5bc0de;
  border: 1px solid #46b8da;
}
/* line 218, /mnt/d/Project/werewolf/app/assets/stylesheets/pages.scss */
.player a.btn[status=dead] {
  color: #666 !important;
  background-color: #cdcdcd !important;
  border: 1px solid #666 !important;
}
/* line 223, /mnt/d/Project/werewolf/app/assets/stylesheets/pages.scss */
.player a.btn[status=disable] {
  color: #666 !important;
  background-color: transparent !important;
  border: 1px solid #666 !important;
}
/* line 228, /mnt/d/Project/werewolf/app/assets/stylesheets/pages.scss */
.player a.btn[status=selected] {
  color: #000 !important;
  background-color: #fff !important;
  border: 1px solid #ccc !important;
}
/* line 233, /mnt/d/Project/werewolf/app/assets/stylesheets/pages.scss */
.player a.btn[status=kill] {
  background-color: #d9534f;
  border: 1px solid #d43f3a;
}
/* line 237, /mnt/d/Project/werewolf/app/assets/stylesheets/pages.scss */
.player a.btn[status=mech_kill] {
  background-color: #d9534f;
  border: 1px solid #d43f3a;
}
/* line 241, /mnt/d/Project/werewolf/app/assets/stylesheets/pages.scss */
.player a.btn[status=kill_more] {
  background-color: #d9534f;
  border: 1px solid #d43f3a;
}
/* line 245, /mnt/d/Project/werewolf/app/assets/stylesheets/pages.scss */
.player a.btn[status^=prescribe] {
  background-color: #805EAD;
  border: 1px solid #684D8C;
}
/* line 249, /mnt/d/Project/werewolf/app/assets/stylesheets/pages.scss */
.player a.btn[status=check] {
  background-color: #f0ad4e;
  border: 1px solid #eea236;
}
/* line 253, /mnt/d/Project/werewolf/app/assets/stylesheets/pages.scss */
.player a.btn[status=psychic_check] {
  background-color: #f0ad4e;
  border: 1px solid #eea236;
}
/* line 257, /mnt/d/Project/werewolf/app/assets/stylesheets/pages.scss */
.player a.btn[status=guard] {
  background-color: #5cb85c;
  border: 1px solid #4cae4c;
}
/* line 261, /mnt/d/Project/werewolf/app/assets/stylesheets/pages.scss */
.player a.btn[status=exchange] {
  background-color: #dc78d9;
  border: 1px solid #ab6caf;
}
/* line 265, /mnt/d/Project/werewolf/app/assets/stylesheets/pages.scss */
.player a.btn[status=link] {
  background-color: #805EAD;
  border: 1px solid #684D8C;
}
/* line 269, /mnt/d/Project/werewolf/app/assets/stylesheets/pages.scss */
.player a.btn[status=stargaze] {
  background-color: #313ba9;
  border: 1px solid #202bad;
}
/* line 273, /mnt/d/Project/werewolf/app/assets/stylesheets/pages.scss */
.player a.btn[status=shoot] {
  background-color: #d9534f;
  border: 1px solid #d43f3a;
}
/* line 277, /mnt/d/Project/werewolf/app/assets/stylesheets/pages.scss */
.player a.btn[status=battle] {
  background-color: #337ab7;
  border: 1px solid #2e6da4;
}
/* line 281, /mnt/d/Project/werewolf/app/assets/stylesheets/pages.scss */
.player a.btn[status=destruct] {
  background-color: #d9534f;
  border: 1px solid #d43f3a;
}
/* line 285, /mnt/d/Project/werewolf/app/assets/stylesheets/pages.scss */
.player a.btn[status=vote] {
  background-color: #f0ad4e;
  border: 1px solid #eea236;
}
/* line 289, /mnt/d/Project/werewolf/app/assets/stylesheets/pages.scss */
.player a.btn[status=throw] {
  background-color: #337ab7;
  border: 1px solid #2e6da4;
}
/* line 295, /mnt/d/Project/werewolf/app/assets/stylesheets/pages.scss */
.player.player-right-side {
  text-align: right;
}

/* line 301, /mnt/d/Project/werewolf/app/assets/stylesheets/pages.scss */
#deal-modal #js-deal-type-nav {
  position: relative !important;
  top: 0;
  padding-left: 0;
  margin-bottom: 10px;
  list-style: none;
}
