/*
* @Author: Lucien Zhang
* @Date:   2019-09-20 13:33:36
* @Last Modified by:   Lucien Zhang
* @Last Modified time: 2019-09-21 14:23:28
*/


main > .container {
    padding: 76px 15px 0;
}

.footer {
    background-color: #f5f5f5;
}

.footer > .container {
    padding-right: 15px;
    padding-left: 15px;
}

code {
    font-size: 80%;
}


.nav_foot .dropdown-submenu {
    position: relative;
}

.nav_foot .dropdown-submenu a::after {
    transform: rotate(-90deg);
    position: absolute;
    right: 6px;
    top: .8em;
}

.nav_foot .dropdown-submenu .dropdown-menu {
    top: 0;
    left: 100%;
    margin-left: .1rem;
    margin-right: .1rem;
}
