<!doctype html>
<html lang="zh">

<head>
    <meta charset="utf-8">
    <title>MNIST</title>
    <meta name="viewport"
        content="width=device-width,initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/demo-mnist.css') }}">
</head>

<body onselectstart="return false">

    <div id="mnist-pad">

        <div class="mnist-pad-body">
            <canvas></canvas>
        </div>

        <div class="mnist-pad-footer">
            <div class="mnist-pad-result">
                <div>
                    <h5>识别结果:<span id="mnist-pad-result"></span> </h5>
                </div>
                <div>
                    <h5>概率:<span id="mnist-pad-prob"></span> </h5>
                </div>
            </div>

            <div class="mnist-pad-actions">
                <button type="button" id="mnist-pad-clear">清除</button>
                <button type="button" id="mnist-pad-save">识别</button>
            </div>

        </div>
    </div>

    <script src="{{ url_for('static', filename='js/demo-mnist-signature-pad.js') }}"></script>
    <script src="{{ url_for('static', filename='js/demo-mnist-canvas.js') }}"></script>
</body>

</html>
