/*
* @Author: Lucien Zhang
* @Date:   2019-10-06 18:01:41
* @Last Modified by:   Lucien Zhang
* @Last Modified time: 2019-10-06 18:07:59
*/
body {
    text-align: center;
}

h2 {
    margin-top: 100px;
    margin-bottom: 50px;
}
