/*
* @Author: Lucien Zhang
* @Date:   2019-09-28 15:11:22
* @Last Modified by:   Lucien Zhang
* @Last Modified time: 2019-10-04 16:40:34
*/
/*button{
    margin-left: auto;
    margin-right: auto;
}
*/
.button_row {
    text-align: center;
}
